.card {
  width: 16vw;
  height: 250px;
  background-color: #000;

  object-fit: cover;

  border: 3px solid;
  cursor: pointer;

  will-change: auto;
  transition: transform 0s;

}
.card:hover {
  transform: scale(1.05);
  backface-visibility: hidden;

  transition: transform 0.1s;
}