:root {
  --primary-bg: #e9e9e9;
  --title-bg: #f4ce14;
  --footer-bg: #000000;
  --message-bg: #8be5fc5d;

  --losing-color: red;
  --winning-color: green;

  --toggle-switch-bg: rgb(223, 67, 67);
  --toggle-switch-shadow: rgb(104, 37, 37);

  --white-text: #ffffff;
  --dark-text: #141414;

  --box-shadow: rgba(0, 0, 0, 0.1);
}

:root.dark {
  --primary-bg: #b9b9b9;
  --title-bg: #c7a911;
  --message-bg: #3678885d;

  --toggle-switch-shadow: rgb(223, 67, 67);
  --toggle-switch-bg: rgb(104, 37, 37);
}