:root {
  --primary-bg: #f5f7f8;
  --title-bg: #f4ce14;
  --footer-bg: #45474b;

  --toggle-switch-bg: rgb(223, 67, 67);
  --toggle-switch-shadow: rgb(104, 37, 37);

  --white-text: #ffffff;
  --dark-text: #141414;

  --box-shadow: rgba(0, 0, 0, 0.1);
}

:root.dark {
  --primary-bg: #000;

  --toggle-switch-shadow: rgb(223, 67, 67);
  --toggle-switch-bg: rgb(104, 37, 37);
}