@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container {
  width: 100vw;
  height: 100vh;

  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-family: roboto;

  display: grid;
  grid-template-rows: 100px auto 30px;
  grid-template-areas:
    "title"
    "game"
    "footer";
}



.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--title-bg);
  color: var(--white-text);
}

.title h1 {
  font-size: 2.2rem;
  font-weight: 1000;
}

.title p {
  font-weight: 600;
}

.game {
  background-color: var(--primary-bg);
  padding: 20px;
}

.footer {
  background-color: var(--footer-bg);
  color: var(--button-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
